.place__paragraph_text{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 26px 40px;
}

@media(max-width: 320px) {
  .place__paragraph_text{
    margin: 32px 16px 0;

  }
  .place__paragraph_text:last-of-type{
    margin: 25px 16px 0;
  }
}
@media(max-width: 768px) {
  .place__paragraph_text{
    font-size: 16px;

  }
}