.photo-grid{
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  grid-auto-rows: 100px 1fr;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
}