.photo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  grid-auto-rows: 100px 1fr;
  margin: 0 48px;
  padding-top: 92px;
  padding-bottom: 12px;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: 88px;
    margin: 0 24px;
  }

}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding-top: 64px;
    margin: 0 16px 14px;
    padding-bottom: 0;
    gap: 12px;
  }

}