.header__logo{
  transition: transform .4s ease-in;
  
}
.header__logo:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 320px) {
  .header__logo{
    width: 142px;
    height: 42px;
  }
}