.intro__text{
font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
max-width: 690px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
margin: 0;
padding-top: 40px;
padding-bottom: 33px;
}