.footer{
  max-width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  
}

@media(max-width: 320px) {
  .footer{
    flex-direction: column;
    padding-top: 0;
  }
}