.footer__list-item{
  list-style: none;
  margin: 0 18px 0 0;
}

@media(max-width: 320px) {
  .footer__list-item{
    padding-top: 32px;
  }
  .footer__list-item:first-of-type{
    padding-top: 0;
  }
}